.sb-font-size-base { font-size: $font-size-base; }
.sb-font-size-xxs { font-size: $font-size-xxs; }
.sb-font-size-xs { font-size: $font-size-xs; }
.sb-font-size-s { font-size: $font-size-s; }
.sb-font-size-m { font-size: $font-size-m; }
.sb-font-size-l { font-size: $font-size-l; }
.sb-font-size-xl { font-size: $font-size-xl; }
.sb-font-weight-light { font-weight: $font-weight-light; }
.sb-font-weight-regular { font-weight: $font-weight-regular; }
.sb-font-weight-bold { font-weight: $font-weight-bold; }